<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <ul>
        <%cars.forEach(car=> { %>
        <li>
            <img src="<%=car.image %>"><br />
            <a href="/car/<%=car._id %>">
                <%=car.name%>
            </a>
        </li>
        <% }) %>
    </ul>
</body>
</html>